.main-div-ourservice-page{
background-color: #2DB5C11A;
}
.ourservice-heading-div{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}
.col-ourservices-inner-grphic {
  padding: 5px;
  height: 90%;
  /* margin-top: 30px; */
  border: 1px solid white;
  border-radius: 10px;
  display: flex;
  background-color: #2DB5C166;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.col-ourservices-inner-grphic:hover {
  background-color: aqua;
}

.col-ourservices-inner-grphic h5 {
  margin-top: 30px;
}

.col-ourservices-inner-grphic p {
  width: 200px;
}
