.home-page-DARK-MODE {
  background-color: #131820;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 6381px;

}
.whychooseus-card{
  position: relative;
  border: 1px solid #2DB5C166 ;
  border-radius: 16px;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  color: white;
  margin: 10px 0 10px 0;
  backdrop-filter: blur(37.66px) brightness(100%);
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.08) 100%);
  border: 0.63px solid;
  border-color: #ffffff40;
}
.whychooseus-card img{
  position: absolute;
  left: 0;
  top: 10px;
  margin-left: 15px;
}
.whychooseus-card h5{
  margin-top: 60px;
  padding: 20px;
}
.whychooseus-card p{
  padding: 20px;
  margin-top: -40px;
}
.whychooseus{
color: white;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
margin-bottom: 10px;
}
.ourservice-col{
  color: white;
  border: 1px solid white;
  border-radius: 30px;
background-color: #FFFFFF40;
opacity: .7;
}
.col-services-inner{
  padding: 40px;
}
.col-services-inner-grphic{
  padding: 5px;
  height: 90%;
  /* margin-top: 30px; */
  border: 1px solid white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.col-services-inner-grphic:hover{
  background-color: #0B7489;
}
.col-services-inner-grphic h5{
  margin-top: 30px;
}
.col-services-inner-grphic p{
  width: 200px;
} 
.service-image-div{
  background-color: white;
  width: 25%;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  border-radius: 10px;
}
.service-image-div img{
  width: 40px;
}
.our-process-mian-div{
  color: white;
  position: relative;
  margin-top: 150px;
  /* background-color: #0B7489; */
}
.our-process-inner-div{
  
  position: absolute;
  top: 140px;
  width: 100%;
  height: 230px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #0B7489;
}
.our-process-row{
position: absolute;
}
.our-process-heading{
  margin-top: 10rem;
  color: white;
  padding: 10rem;
}
.our-process-inner-col{
  width: 90%;
  height: 90%;
  padding: 10px;
  border: 1px solid white;
  margin-top: 1rem;
  border-radius: 10px;
}
.our-process-inner-col img{
  margin-top: 1rem;
  margin-left: 1px;
  width: 30%; 
}
.img-elipss{
  position: absolute;

}
.readmore{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.readmore img{
  width: 20px;

}
.portfolio-heading-div{
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.portfolio-heading-div p{
  width: 45%;
}
.ourprocess-main{
   height: 30%;
   
   margin-top: 10px;
}
.our-process-mian-row{
background-color:#2DB5C11A ;
}
.img-49{
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 50%;
}
.adverties-img{
  width: 80%;
}
.contactus-heading{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  padding: 4px;
}
/*
.home-page-DARK-MODE .rectangle {
  background: linear-gradient(
    180deg,
    rgba(45, 181, 193, 0.1) 21%,
    rgba(64.04, 221.16, 235.03, 0.1) 65.63%,
    rgba(0, 234.32, 255, 0.1) 89.29%
  );
  height: 791px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1988px;
}

.home-page-DARK-MODE .rectangle-2 {
  background: linear-gradient(
    180deg,
    rgb(45, 181, 193) 21%,
    rgb(64.04, 221.16, 235.03) 65.63%,
    rgb(0, 234.32, 255) 89.29%
  );
  border-radius: 224.71px;
  filter: blur(102.45px);
  height: 302px;
  left: 1186px;
  opacity: 0.1;
  position: absolute;
  top: 955px;
  width: 330px;
}

.home-page-DARK-MODE .rectangle-3 {
  background: linear-gradient(
    180deg,
    rgb(45, 181, 193) 21%,
    rgb(64.04, 221.16, 235.03) 65.63%,
    rgb(0, 234.32, 255) 89.29%
  );
  border-radius: 224.71px;
  filter: blur(102.45px);
  height: 302px;
  left: 344px;
  opacity: 0.1;
  position: absolute;
  top: 1065px;
  width: 330px;
}

.home-page-DARK-MODE .rectangle-4 {
  background: linear-gradient(
    180deg,
    rgb(45, 181, 193) 21%,
    rgb(64.04, 221.16, 235.03) 65.63%,
    rgb(0, 234.32, 255) 89.29%
  );
  border-radius: 293.93px;
  filter: blur(134.01px);
  height: 531px;
  left: 719px;
  opacity: 0.1;
  position: absolute;
  top: 387px;
  width: 431px;
}

.home-page-DARK-MODE .group {
  height: 361px;
  left: 312px;
  position: absolute;
  top: 359px;
  width: 1272px;
}

.home-page-DARK-MODE .frame {
  align-items: center;
  background: linear-gradient(180deg, rgb(11, 116, 137) 0%, rgb(16, 157, 164) 100%);
  border-radius: 55px;
  display: inline-flex;
  gap: 16px;
  justify-content: center;
  left: 854px;
  padding: 12px 30px;
  position: absolute;
  top: 392px;
  width: 10%;
}

.home-page-DARK-MODE .text-wrapper {
  color: #ffffff;
  font-family: "Nunito-Bold", Helvetica;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: fit-content;
}

.home-page-DARK-MODE .arrow {
  height: 14.72px;
  margin-right: -1px;
  position: relative;
  width: 19.53px;
}

.home-page-DARK-MODE .ellipse {
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgb(11, 116, 137) 0%,
    rgb(9.63, 105, 115.6) 21.25%,
    rgb(16.63, 113.84, 120.91) 42.59%,
    rgb(16, 157, 164) 62.56%,
    rgb(107.49, 203.28, 208.04) 93.68%
  );
  border-radius: 46.91px;
  height: 94px;
  left: 181px;
  opacity: 0.8;
  position: absolute;
  top: 140px;
  width: 94px;
}

.home-page-DARK-MODE .ellipse-2 {
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgb(11, 116, 137) 0%,
    rgb(9.63, 105, 115.6) 21.25%,
    rgb(16.63, 113.84, 120.91) 42.59%,
    rgb(16, 157, 164) 62.56%,
    rgb(107.49, 203.28, 208.04) 93.68%
  );
  border-radius: 9.48px;
  height: 19px;
  left: 916px;
  opacity: 0.8;
  position: absolute;
  top: 685px;
  width: 19px;
}

.home-page-DARK-MODE .ellipse-3 {
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgb(11, 116, 137) 0%,
    rgb(9.63, 105, 115.6) 21.25%,
    rgb(16.63, 113.84, 120.91) 42.59%,
    rgb(16, 157, 164) 62.56%,
    rgb(107.49, 203.28, 208.04) 93.68%
  );
  border-radius: 7.46px;
  height: 15px;
  left: 1091px;
  opacity: 0.8;
  position: absolute;
  top: 592px;
  width: 15px;
}

.home-page-DARK-MODE .overlap-wrapper {
  height: 226px;
  left: 574px;
  position: absolute;
  top: 97px;
  width: 749px;
}

.home-page-DARK-MODE .overlap-group {
  height: 220px;
  position: relative;
  width: 732px;
}

.home-page-DARK-MODE .overlap-group-2 {
  height: 199px;
  left: 0;
  position: absolute;
  top: 21px;
  width: 732px;
}

.home-page-DARK-MODE .give-your-business-a {
  height: 165px;
  left: 32px;
  position: absolute;
  top: 35px;
  width: 700px;
}

.home-page-DARK-MODE .img {
  height: 60px;
  left: 0;
  position: absolute;
  top: 0;
  width: 55px;
}

.home-page-DARK-MODE .group-2 {
  height: 36px;
  left: 422px;
  position: absolute;
  top: 95px;
  width: 309px;
}

.home-page-DARK-MODE .p {
  color: #ffffff;
  font-family: "Nunito-SemiBold", Helvetica;
  font-size: 21.9px;
  font-weight: 600;
  left: 115px;
  letter-spacing: 0;
  line-height: 27.8px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 532px;
}

.home-page-DARK-MODE .group-3 {
  background-size: 100% 100%;
  height: 285px;
  left: 371px;
  position: absolute;
  top: 356px;
  width: 285px;
}

.home-page-DARK-MODE .ellipse-4 {
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgb(11, 116, 137) 0%,
    rgb(9.63, 105, 115.6) 21.25%,
    rgb(16.63, 113.84, 120.91) 42.59%,
    rgb(16, 157, 164) 62.56%,
    rgb(107.49, 203.28, 208.04) 93.68%
  );
  border-radius: 27.25px;
  height: 54px;
  left: 1496px;
  opacity: 0.8;
  position: absolute;
  top: 185px;
  width: 54px;
}

.home-page-DARK-MODE .ellipse-5 {
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgb(11, 116, 137) 0%,
    rgb(9.63, 105, 115.6) 21.25%,
    rgb(16.63, 113.84, 120.91) 42.59%,
    rgb(16, 157, 164) 62.56%,
    rgb(107.49, 203.28, 208.04) 93.68%
  );
  border-radius: 15.76px;
  height: 32px;
  left: 1363px;
  opacity: 0.8;
  position: absolute;
  top: 291px;
  width: 32px;
}

.home-page-DARK-MODE .overlap-group-wrapper {
  height: 103px;
  left: 1376px;
  position: absolute;
  top: 212px;
  width: 154px;
}

.home-page-DARK-MODE .overlap-2 {
  height: 103px;
  position: relative;
  width: 152px;
}

.home-page-DARK-MODE .rectangle-5 {
  
  height: 102px;
  left: 0;
  position: absolute;
  top: 0;
  width: 152px;
}

.home-page-DARK-MODE .text-wrapper-2 {
  color: #ffffff;
  font-family: "Nunito-Regular", Helvetica;
  font-size: 12px;
  font-weight: 400;
  left: 33px;
  letter-spacing: 0;
  line-height: 15.2px;
  position: absolute;
  text-align: center;
  top: 83px;
  white-space: nowrap;
}

.home-page-DARK-MODE .group-4 {
  height: 67px;
  left: 14px;
  position: absolute;
  top: 12px;
  width: 123px;
}

.home-page-DARK-MODE .arrow-2 {
  height: 15px;
  left: 19px;
  position: absolute;
  top: 33px;
  width: 27px;
}

.home-page-DARK-MODE .image {
  height: 90px;
  left: 1267px;
  position: absolute;
  top: 389px;
  width: 124px;
}

.home-page-DARK-MODE .image-2 {
  height: 321px;
  left: 958px;
  object-fit: cover;
  position: absolute;
  top: 393px;
  width: 465px;
}

.home-page-DARK-MODE .div-wrapper {
  height: 79px;
  left: 605px;
  position: absolute;
  top: 545px;
  width: 134px;
}

.home-page-DARK-MODE .overlap-3 {
  -webkit-backdrop-filter: blur(6.69px) brightness(100%);
  backdrop-filter: blur(6.69px) brightness(100%);
  background-color: #ffffff45;
  border-radius: 11.14px;
  height: 79px;
  position: relative;
  width: 130px;
}

.home-page-DARK-MODE .overlap-group-3 {
  -webkit-backdrop-filter: blur(6.69px) brightness(100%);
  backdrop-filter: blur(6.69px) brightness(100%);
  background: linear-gradient(
    180deg,
    rgb(11, 116, 137) 0%,
    rgb(16, 157, 164) 47.04%,
    rgb(47.89, 194.39, 201.66) 83.95%
  );
  border-radius: 7.8px;
  height: 47px;
  left: 6px;
  position: absolute;
  top: 6px;
  width: 119px;
}

.home-page-DARK-MODE .text-wrapper-3 {
  color: #ffffff;
  font-family: "Nunito-Black", Helvetica;
  font-size: 27.7px;
  font-weight: 900;
  left: 12px;
  letter-spacing: 0;
  line-height: 32.7px;
  position: absolute;
  text-align: center;
  top: 7px;
  white-space: nowrap;
}

.home-page-DARK-MODE .text-wrapper-4 {
  color: #ffffff;
  font-family: "Nunito-Black", Helvetica;
  font-size: 11.1px;
  font-weight: 900;
  left: 16px;
  letter-spacing: 0;
  line-height: 13.2px;
  position: absolute;
  text-align: center;
  top: 58px;
  white-space: nowrap;
}

.home-page-DARK-MODE .ellipse-6 {
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgb(11, 116, 137) 0%,
    rgb(9.63, 105, 115.6) 21.25%,
    rgb(16.63, 113.84, 120.91) 42.59%,
    rgb(16, 157, 164) 62.56%,
    rgb(107.49, 203.28, 208.04) 93.68%
  );
  border-radius: 23.46px;
  height: 47px;
  left: 1645px;
  opacity: 0.8;
  position: absolute;
  top: 685px;
  width: 47px;
}

.home-page-DARK-MODE .ellipse-7 {
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgb(11, 116, 137) 0%,
    rgb(9.63, 105, 115.6) 21.25%,
    rgb(16.63, 113.84, 120.91) 42.59%,
    rgb(16, 157, 164) 62.56%,
    rgb(107.49, 203.28, 208.04) 93.68%
  );
  border-radius: 7.46px;
  height: 15px;
  left: 998px;
  opacity: 0.8;
  position: absolute;
  top: 458px;
  width: 15px;
}

.home-page-DARK-MODE .ellipse-8 {
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgb(11, 116, 137) 0%,
    rgb(9.63, 105, 115.6) 21.25%,
    rgb(16.63, 113.84, 120.91) 42.59%,
    rgb(16, 157, 164) 62.56%,
    rgb(107.49, 203.28, 208.04) 93.68%
  );
  border-radius: 9.48px;
  height: 19px;
  left: 798px;
  opacity: 0.8;
  position: absolute;
  top: 522px;
  width: 19px;
}

.home-page-DARK-MODE .group-5 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 681px;
  position: relative;
  top: 881px;
  width: 100%;
}

.home-page-DARK-MODE .group-6 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 117px;
  left: 145px;
  top: 0;
  width: 563px;
}

.home-page-DARK-MODE .text-wrapper-5 {
  color: #ffffff;
  font-family: "Nunito-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 28.1px;
  opacity: 0.7;
  position: absolute;
  text-align: center;
  top: 61px;
  width: 430px;
}

.home-page-DARK-MODE .text-wrapper-6 {
  color: #ffffff;
  font-family: "Nunito-Black", Helvetica;
  font-size: 48px;
  font-weight: 900;
  letter-spacing: 0;
  line-height: 60.9px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}
.home-page-DARK-MODE .frame-2 {
  align-items: center;
  display: inline-flex;
  flex-direction: column;
  gap: 24px;
  position: absolute;
  top: 157px;
}


.home-page-DARK-MODE .frame-3 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 24px;
  position: relative;
}

.home-page-DARK-MODE .group-7 {
  height: 250px;
  position: relative;
  width: 271px;
}

.home-page-DARK-MODE .overlap-group-4 {
  -webkit-backdrop-filter: blur(52px) brightness(100%);
  backdrop-filter: blur(52px) brightness(100%);
  background-color: #ffffff3b;
  border-radius: 16px;
  height: 250px;
  position: relative;
  width: 267px;
}

.home-page-DARK-MODE .image-3 {
  height: 54px;
  left: 16px;
  object-fit: cover;
  position: absolute;
  top: 20px;
  width: 54px;
}

.home-page-DARK-MODE .text-wrapper-7 {
  color: #ffffff;
  font-family: "Nunito-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 16px;
  letter-spacing: 0;
  line-height: 28.6px;
  opacity: 0.7;
  position: absolute;
  top: 143px;
  width: 236px;
}

.home-page-DARK-MODE .text-wrapper-8 {
  color: #ffffff;
  font-family: "Nunito-ExtraBold", Helvetica;
  font-size: 18px;
  font-weight: 800;
  left: 16px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 89px;
  width: 236px;
}

.home-page-DARK-MODE  .overlap-group-4:hover  {
  -webkit-backdrop-filter: blur(46px) brightness(100%);
  backdrop-filter: blur(46px) brightness(100%);
  background: linear-gradient(
    180deg,
    rgb(45, 181, 193) 21%,
    rgb(64.04, 221.16, 235.03) 65.63%,
    rgb(0, 234.32, 255) 89.29%
  );
  border-radius: 16px;
  box-shadow: 0px 2px 13px #d3bffc66;
  height: 250px;
  position: relative;
  width: 267px;
}

.home-page-DARK-MODE .text-wrapper-9 {
  color: #ffffff;
  font-family: "Nunito-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 16px;
  letter-spacing: 0;
  line-height: 28.6px;
  position: absolute;
  top: 143px;
  width: 236px;
}

.home-page-DARK-MODE .image-4 {
  height: 64px;
  left: 16px;
  object-fit: cover;
  position: absolute;
  top: 12px;
  width: 64px;
}

.home-page-DARK-MODE .group-8 {
  height: 250px;
  margin-right: -4px;
  position: relative;
  width: 271px;
}

.home-page-DARK-MODE .text-wrapper-10 {
  color: #ffffff;
  font-family: "Nunito-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 16px;
  letter-spacing: 0;
  line-height: 28.6px;
  opacity: 0.7;
  position: absolute;
  top: 119px;
  width: 236px;
}

.home-page-DARK-MODE .image-5 {
  height: 54px;
  left: 12px;
  object-fit: cover;
  position: absolute;
  top: 20px;
  width: 54px;
}

.home-page-DARK-MODE .text-wrapper-11 {
  color: #ffffff;
  font-family: "Nunito-ExtraBold", Helvetica;
  font-size: 18px;
  font-weight: 800;
  left: 16px;
  letter-spacing: 0;
  line-height: 22.8px;
  position: absolute;
  top: 89px;
  width: 236px;
}

.home-page-DARK-MODE .text-wrapper-12 {
  color: #ffffff;
  font-family: "Nunito-ExtraBold", Helvetica;
  font-size: 18px;
  font-weight: 800;
  left: 16px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 89px;
  width: 242px;
}

.home-page-DARK-MODE .overlap-5 {
  background-size: 100% 100%;
  height: 250px;
  position: relative;
  width: 267px;
}

.home-page-DARK-MODE .image-6 {
  height: 64px;
  left: 16px;
  object-fit: cover;
  position: absolute;
  top: 16px;
  width: 64px;
}

.home-page-DARK-MODE .portrait-attractive {
  height: 348px;
  left: 382px;
  position: absolute;
  top: 206px;
  width: 342px;
}

.home-page-DARK-MODE .group-9 {
  height: 72px;
  left: 317px;
  position: absolute;
  top: 367px;
  width: 123px;
}

.home-page-DARK-MODE .overlap-6 {
  -webkit-backdrop-filter: blur(6.08px) brightness(100%);
  backdrop-filter: blur(6.08px) brightness(100%);
  background-color: #ffffff45;
  border-radius: 10.13px;
  height: 72px;
  position: relative;
  width: 119px;
}

.home-page-DARK-MODE .overlap-group-5 {
  -webkit-backdrop-filter: blur(6.08px) brightness(100%);
  backdrop-filter: blur(6.08px) brightness(100%);
  background: linear-gradient(
    180deg,
    rgb(11, 116, 137) 0%,
    rgb(16, 157, 164) 47.04%,
    rgb(47.89, 194.39, 201.66) 83.95%
  );
  border-radius: 7.09px;
  height: 43px;
  left: 5px;
  position: absolute;
  top: 5px;
  width: 108px;
}

.home-page-DARK-MODE .text-wrapper-13 {
  color: #ffffff;
  font-family: "Nunito-Black", Helvetica;
  font-size: 25.1px;
  font-weight: 900;
  left: 11px;
  letter-spacing: 0;
  line-height: 29.8px;
  position: absolute;
  text-align: center;
  top: 6px;
  white-space: nowrap;
}

.home-page-DARK-MODE .text-wrapper-14 {
  color: #ffffff;
  font-family: "Nunito-Black", Helvetica;
  font-size: 10.1px;
  font-weight: 900;
  left: 27px;
  letter-spacing: 0;
  line-height: 12px;
  position: absolute;
  text-align: center;
  top: 53px;
  white-space: nowrap;
}

.home-page-DARK-MODE .overlap-7 {
  height: 4486px;
  left: -372px;
  position: absolute;
  top: 1895px;
  width: 2086px;
}

.home-page-DARK-MODE .overlap-8 {
  height: 2858px;
  left: 0;
  position: absolute;
  top: 0;
  width: 2086px;
}

.home-page-DARK-MODE .rectangle-6 {
  background: linear-gradient(
    180deg,
    rgba(45, 181, 193, 0.1) 21%,
    rgba(64.04, 221.16, 235.03, 0.1) 65.63%,
    rgba(0, 234.32, 255, 0.1) 89.29%
  );
  height: 641px;
  left: 0;
  position: absolute;
  top: 477px;
  width: 1988px;
}

.home-page-DARK-MODE .rectangle-7 {
  background: linear-gradient(
    180deg,
    rgba(45, 181, 193, 0.1) 21%,
    rgba(64.04, 221.16, 235.03, 0.1) 65.63%,
    rgba(0, 234.32, 255, 0.1) 89.29%
  );
  height: 937px;
  left: 98px;
  position: absolute;
  top: 1883px;
  width: 1988px;
}

.home-page-DARK-MODE .group-10 {
  -webkit-backdrop-filter: blur(60px) brightness(100%);
  backdrop-filter: blur(60px) brightness(100%);
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.08) 100%);
  border: 1px solid;
  border-color: #ffffff40;
  border-radius: 61px;
  height: 364px;
  left: 522px;
  position: absolute;
  top: 0;
  width: 1180px;
}

.home-page-DARK-MODE .frame-4 {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 18px;
  left: 42px;
  position: absolute;
  top: 92px;
}

.home-page-DARK-MODE .frame-5 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 2px;
  position: relative;
}

.home-page-DARK-MODE .text-wrapper-15 {
  color: #ffffff;
  font-family: "Nunito-Black", Helvetica;
  font-size: 48px;
  font-weight: 900;
  letter-spacing: 0;
  line-height: 60.9px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.home-page-DARK-MODE .text-wrapper-16 {
  color: #ffffff;
  font-family: "Nunito-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 24.7px;
  position: relative;
  width: 315px;
}

.home-page-DARK-MODE .frame-6 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  position: relative;
}

.home-page-DARK-MODE .text-wrapper-17 {
  color: #ffffff;
  font-family: "Nunito-Bold", Helvetica;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 24.7px;
  margin-top: 15px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.home-page-DARK-MODE .arrow-3 {
  height: 7.36px;
  margin-right: -0.5px;
  object-fit: cover;
  position: relative;
  width: 22.5px;
  top: 8px;
}

.home-page-DARK-MODE .group-wrapper {
  -webkit-backdrop-filter: blur(37.66px) brightness(100%);
  backdrop-filter: blur(37.66px) brightness(100%);
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.08) 100%);
  border: 0.63px solid;
  border-color: #ffffff40;
  height: 327px;
  left: 399px;
  position: absolute;
  top: 0;
  width: 230px;
}
.home-page-DARK-MODE .group-wrapper:hover{
  background: linear-gradient(180deg, rgb(11, 116, 137) 0%, rgb(16, 157, 164) 100%);
} 
.home-page-DARK-MODE .group-wrapper2 {
  -webkit-backdrop-filter: blur(37.66px) brightness(100%);
  backdrop-filter: blur(37.66px) brightness(100%);
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.08) 100%);
  border: 0.63px solid;
  border-color: #ffffff40;
  height: 327px;
  left:650px;
  position: absolute;
  top: 0;
  width: 230px;
}
.home-page-DARK-MODE .group-wrapper2:hover{
  background: linear-gradient(180deg, rgb(11, 116, 137) 0%, rgb(16, 157, 164) 100%);
}
.home-page-DARK-MODE .group-wrapper3 {
  -webkit-backdrop-filter: blur(37.66px) brightness(100%);
  backdrop-filter: blur(37.66px) brightness(100%);
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.08) 100%);
  border: 0.63px solid;
  border-color: #ffffff40;
  height: 327px;
  left: 900px;
  position: absolute;
  top: 0;
  width: 230px;
}

.home-page-DARK-MODE .group-wrapper3:hover{
  background: linear-gradient(180deg, rgb(11, 116, 137) 0%, rgb(16, 157, 164) 100%);
}

.home-page-DARK-MODE .group-11 {
  height: 231px;
  left: 12px;
  position: relative;
  top: 47px;
  width: 205px;
}

.home-page-DARK-MODE .group-12 {
  height: 231px;
  position: relative;
  width: 209px;
}

.home-page-DARK-MODE .frame-7 {
  align-items: center;
  display: inline-flex;
  gap: 8px;
  left: 47px;
  position: absolute;
  top: 230px;
}

.home-page-DARK-MODE .rectangle-8 {
  background-color: #f5f1fd;
  border-radius: 11px;
  height: 86px;
  left: 60px;
  position: absolute;
  top: 0;
  width: 86px;
}

.home-page-DARK-MODE .text-wrapper-18 {
  color: #ffffff;
  font-family: "Nunito-Bold", Helvetica;
  font-size: 24px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 108px;
}

.home-page-DARK-MODE .branding-design {
  color: #ffffff;
  font-family: "Nunito-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 1px;
  letter-spacing: 0;
  line-height: 25.1px;
  position: absolute;
  text-align: center;
  top: 147px;
  width: 203px;
}

.home-page-DARK-MODE .group-13 {
  height: 231px;
  left: 649px;
  position: absolute;
  top: 47px;
  width: 248px;
}

.home-page-DARK-MODE .frame-8 {
  align-items: center;
  display: inline-flex;
  gap: 8px;
  left: 67px;
  position: absolute;
  top: 206px;
}

.home-page-DARK-MODE .rectangle-9 {
  background-color: #f5f1fd;
  border-radius: 11px;
  height: 86px;
  left: 79px;
  position: absolute;
  top: 0;
  width: 86px;
}

.home-page-DARK-MODE .text-wrapper-19 {
  color: #ffffff;
  font-family: "Nunito-Bold", Helvetica;
  font-size: 24px;
  font-weight: 700;
  left: 18px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 108px;
}

.home-page-DARK-MODE .text-wrapper-20 {
  color: #ffffff;
  font-family: "Nunito-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: 25.1px;
  position: absolute;
  text-align: center;
  top: 147px;
  width: 244px;
}

.home-page-DARK-MODE .group-14 {
  height: 231px;
  left: 912px;
  position: absolute;
  top: 47px;
  width: 207px;
}

.home-page-DARK-MODE .frame-9 {
  align-items: center;
  display: inline-flex;
  gap: 8px;
  left: 46px;
  position: absolute;
  top: 206px;
}

.home-page-DARK-MODE .rectangle-10 {
  background-color: #f5f1fd;
  border-radius: 11px;
  height: 86px;
  left: 59px;
  position: absolute;
  top: 0;
  width: 86px;
}

.home-page-DARK-MODE .text-wrapper-21 {
  color: #ffffff;
  font-family: "Nunito-Bold", Helvetica;
  font-size: 24px;
  font-weight: 700;
  left: 77px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 108px;
}

.home-page-DARK-MODE .text-wrapper-22 {
  color: #ffffff;
  font-family: "Nunito-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: 25.1px;
  position: absolute;
  text-align: center;
  top: 147px;
  width: 203px;
}

.home-page-DARK-MODE .ellipse-9 {
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgb(11, 116, 137) 0%,
    rgb(9.63, 105, 115.6) 21.25%,
    rgb(16.63, 113.84, 120.91) 42.59%,
    rgb(16, 157, 164) 62.56%,
    rgb(107.49, 203.28, 208.04) 93.68%
  );
  border-radius: 90.5px;
  height: 181px;
  left: 1535px;
  opacity: 0.8;
  position: absolute;
  top: 890px;
  width: 181px;
}

.home-page-DARK-MODE .group-15 {
  height: 239px;
  left: 562px;
  position: absolute;
  top: 705px;
  width: 419px;
}

.home-page-DARK-MODE .frame-10 {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 11px;
  left: 0;
  position: absolute;
  top: 0;
}

.home-page-DARK-MODE .text-wrapper-23 {
  color: #ffffff;
  font-family: "Nunito-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 28.6px;
  margin-top: -1px;
  position: relative;
  width: 419px;
}

.home-page-DARK-MODE .frame-11 {
  align-items: center;
  display: inline-flex;
  gap: 10px;
  left: 0;
  position: absolute;
  top: 214px;
}

.home-page-DARK-MODE .text-wrapper-24 {
  color: #ffffff;
  font-family: "Nunito-Black", Helvetica;
  font-size: 48px;
  font-weight: 900;
  left: 562px;
  letter-spacing: 0;
  line-height: 60.9px;
  position: absolute;
  top: 636px;
  white-space: nowrap;
}

.home-page-DARK-MODE .group-16 {
  height: 408px;
  left: 1062px;
  position: absolute;
  top: 614px;
  width: 592px;
}

.home-page-DARK-MODE .overlap-9 {
  height: 408px;
  position: relative;
}

.home-page-DARK-MODE .image-7 {
  background: linear-gradient(180deg, rgb(11, 116, 137) 0%, rgb(16, 157, 164) 51.29%, rgb(51.18, 207.7, 215.48) 92.91%);
  border-radius: 40px;
  height: 367px;
  left: 0;
  position: absolute;
  top: 0;
  width: 551px;
}

.home-page-DARK-MODE .image-8 {
  height: 367px;
  left: 41px;
  object-fit: cover;
  position: absolute;
  top: 41px;
  width: 551px;
}

.home-page-DARK-MODE .group-17 {
  height: 290px;
  left: 372px;
  position: absolute;
  top: 576px;
  width: 511px;
}

.home-page-DARK-MODE .rectangle-11 {
  background: linear-gradient(
    180deg,
    rgb(45, 181, 193) 21%,
    rgb(64.04, 221.16, 235.03) 65.63%,
    rgb(0, 234.32, 255) 89.29%
  );
  border-radius: 293.93px;
  filter: blur(134.01px);
  height: 531px;
  left: 1511px;
  opacity: 0.1;
  position: absolute;
  top: 939px;
  width: 431px;
}

.home-page-DARK-MODE .rectangle-12 {
  background: linear-gradient(
    180deg,
    rgb(45, 181, 193) 21%,
    rgb(64.04, 221.16, 235.03) 65.63%,
    rgb(0, 234.32, 255) 89.29%
  );
  border-radius: 293.93px;
  filter: blur(134.01px);
  height: 531px;
  left: 250px;
  opacity: 0.1;
  position: absolute;
  top: 222px;
  width: 431px;
}

.home-page-DARK-MODE .group-18 {
  height: 290px;
  left: 1480px;
  position: absolute;
  top: 1009px;
  width: 332px;
}

.home-page-DARK-MODE .ellipse-10 {
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgb(11, 116, 137) 0%,
    rgb(9.63, 105, 115.6) 21.25%,
    rgb(16.63, 113.84, 120.91) 42.59%,
    rgb(16, 157, 164) 62.56%,
    rgb(107.49, 203.28, 208.04) 93.68%
  );
  border-radius: 75px;
  height: 150px;
  left: 291px;
  position: absolute;
  top: 487px;
  width: 150px;
}

.home-page-DARK-MODE .ellipse-11 {
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgb(11, 116, 137) 0%,
    rgb(9.63, 105, 115.6) 21.25%,
    rgb(16.63, 113.84, 120.91) 42.59%,
    rgb(16, 157, 164) 62.56%,
    rgb(107.49, 203.28, 208.04) 93.68%
  );
  border-radius: 38.55px;
  height: 77px;
  left: 1780px;
  position: absolute;
  top: 1092px;
  width: 77px;
}

.home-page-DARK-MODE .ellipse-12 {
  background: linear-gradient(180deg, rgb(11, 116, 137) 0%, rgb(16, 157, 164) 100%);
  border-radius: 147px;
  filter: blur(252px);
  height: 294px;
  left: 1669px;
  position: absolute;
  top: 1654px;
  width: 294px;
}

.home-page-DARK-MODE .ellipse-13 {
  background: linear-gradient(180deg, rgb(11, 116, 137) 0%, rgb(16, 157, 164) 100%);
  border-radius: 147px;
  filter: blur(252px);
  height: 294px;
  left: 189px;
  position: absolute;
  top: 2200px;
  width: 294px;
}

.home-page-DARK-MODE .group-19 {
  height: 464px;
  left: 322px;
  position: absolute;
  top: 1301px;
  width: 1370px;
}

.home-page-DARK-MODE .group-20 {
  height: 229px;
  left: 947px;
  position: absolute;
  top: 111px;
  width: 419px;
}

.home-page-DARK-MODE .text-wrapper-25 {
  color: #ffffff;
  font-family: "Nunito-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 28.6px;
  position: relative;
  width: 419px;
}

.home-page-DARK-MODE .frame-12 {
  align-items: center;
  display: inline-flex;
  gap: 10px;
  left: 0;
  position: absolute;
  top: 204px;
}

.home-page-DARK-MODE .overlap-10 {
  height: 464px;
  left: 0;
  position: absolute;
  top: 0;
  width: 825px;
}

.home-page-DARK-MODE .rectangle-13 {
  background: linear-gradient(180deg, rgb(11, 116, 137) 0%, rgb(16, 157, 164) 100%);
  border-radius: 40px;
  height: 302px;
  left: 0;
  position: absolute;
  top: 90px;
  width: 825px;
}

.home-page-DARK-MODE .rectangle-14 {
  -webkit-backdrop-filter: blur(46px) brightness(100%);
  backdrop-filter: blur(46px) brightness(100%);
  background-color: #ffffff3b;
  border: 1px solid;
  border-color: transparent;
  border-image: linear-gradient(
      to bottom,
      rgb(255, 255, 255),
      rgba(255, 255, 255, 0) 25.22%,
      rgba(255, 255, 255, 0) 76.42%,
      rgb(255, 255, 255) 100%
    )
    1;
  border-radius: 10px;
  height: 220px;
  left: 267px;
  position: absolute;
  top: 0;
  width: 237px;
}

.home-page-DARK-MODE .text-wrapper-26 {
  color: #ffffff;
  font-family: "Nunito-ExtraBold", Helvetica;
  font-size: 24px;
  font-weight: 800;
  left: 283px;
  letter-spacing: 0;
  line-height: 30.5px;
  position: absolute;
  top: 109px;
  width: 196px;
}

.home-page-DARK-MODE .frame-13 {
  align-items: center;
  display: inline-flex;
  gap: 10px;
  left: 286px;
  position: absolute;
  top: 179px;
}

.home-page-DARK-MODE .group-21 {
  height: 220px;
  left: 267px;
  position: absolute;
  top: 244px;
  width: 239px;
}

.home-page-DARK-MODE .overlap-group-6 {
  -webkit-backdrop-filter: blur(46px) brightness(100%);
  backdrop-filter: blur(46px) brightness(100%);
  background-color: #ffffff3b;
  border-radius: 10px;
  height: 220px;
  position: relative;
  width: 237px;
}

.home-page-DARK-MODE .text-wrapper-27 {
  color: #ffffff;
  font-family: "Nunito-ExtraBold", Helvetica;
  font-size: 24px;
  font-weight: 800;
  left: 16px;
  letter-spacing: 0;
  line-height: 30.5px;
  position: absolute;
  top: 109px;
  width: 205px;
}

.home-page-DARK-MODE .frame-14 {
  align-items: center;
  display: inline-flex;
  gap: 10px;
  left: 19px;
  position: absolute;
  top: 179px;
}

.home-page-DARK-MODE .group-22 {
  height: 220px;
  left: 528px;
  position: absolute;
  top: 0;
  width: 241px;
}

.home-page-DARK-MODE .overlap-group-7 {
  height: 60px;
  left: 16px;
  position: absolute;
  top: 109px;
  width: 196px;
}

.home-page-DARK-MODE .text-wrapper-28 {
  color: #ffffff;
  font-family: "Nunito-ExtraBold", Helvetica;
  font-size: 24px;
  font-weight: 800;
  left: 0;
  letter-spacing: 0;
  line-height: 30.5px;
  position: absolute;
  top: 0;
  width: 196px;
}

.home-page-DARK-MODE .text-wrapper-29 {
  color: #ffffff;
  font-family: "Nunito-ExtraBold", Helvetica;
  font-size: 24px;
  font-weight: 800;
  left: 544px;
  letter-spacing: 0;
  line-height: 30.5px;
  position: absolute;
  top: 109px;
  width: 196px;
}

.home-page-DARK-MODE .group-23 {
  height: 220px;
  left: 528px;
  position: absolute;
  top: 244px;
  width: 239px;
}

.home-page-DARK-MODE .text-wrapper-30 {
  color: #ffffff;
  font-family: "Nunito-ExtraBold", Helvetica;
  font-size: 24px;
  font-weight: 800;
  left: 16px;
  letter-spacing: 0;
  line-height: 30.5px;
  position: absolute;
  top: 109px;
  width: 196px;
}

.home-page-DARK-MODE .pencil-ruler {
  height: 74px;
  left: 286px;
  object-fit: cover;
  position: absolute;
  top: 16px;
  width: 74px;
}

.home-page-DARK-MODE .image-9 {
  height: 74px;
  left: 544px;
  object-fit: cover;
  position: absolute;
  top: 16px;
  width: 74px;
}

.home-page-DARK-MODE .image-10 {
  height: 74px;
  left: 283px;
  position: absolute;
  top: 260px;
  width: 66px;
}

.home-page-DARK-MODE .image-11 {
  height: 74px;
  left: 539px;
  object-fit: cover;
  position: absolute;
  top: 260px;
  width: 74px;
}

.home-page-DARK-MODE .frame-15 {
  align-items: center;
  border: 1px solid;
  border-color: #ffffff;
  background-color: transparent;
  border-radius: 25px;
  display: inline-flex;
  gap: 10px;
  justify-content: center;
  left: 1015px;
  padding: 10px 30px;
  position: absolute;
  top: 2717px;
}

.home-page-DARK-MODE .text-wrapper-31 {
  color: #ffffff;
  font-family: "Nunito-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 822px;
  letter-spacing: 0;
  line-height: 28.6px;
  position: absolute;
  text-align: center;
  top: 2019px;
  width: 547px;
}

.home-page-DARK-MODE .text-wrapper-32 {
  color: #ffffff;
  font-family: "Nunito-Black", Helvetica;
  font-size: 48px;
  font-weight: 900;
  left: 877px;
  letter-spacing: 0;
  line-height: 60.9px;
  position: absolute;
  top: 1940px;
  white-space: nowrap;
}

.home-page-DARK-MODE .ellipse-14 {
  background: linear-gradient(180deg, rgb(11, 116, 137) 0%, rgb(16, 157, 164) 100%);
  border-radius: 59px;
  height: 118px;
  left: 1757px;
  opacity: 0.8;
  position: absolute;
  top: 2740px;
  width: 118px;
}

.home-page-DARK-MODE .rectangle-15 {
  height: 299px;
  left: 508px;
  position: absolute;
  top: 2104px;
  width: 400px;
}

.home-page-DARK-MODE .rectangle-16 {
  height: 299px;
  left: 1278px;
  position: absolute;
  top: 2396px;
  width: 400px;
}

.home-page-DARK-MODE .rectangle-17 {
  height: 299px;
  left: 1187px;
  position: absolute;
  top: 2104px;
  width: 491px;
}

.home-page-DARK-MODE .rectangle-18 {
  height: 299px;
  left: 799px;
  position: absolute;
  top: 2396px;
  width: 491px;
}

.home-page-DARK-MODE .rectangle-19 {
  height: 299px;
  left: 896px;
  position: absolute;
  top: 2104px;
  width: 303px;
}

.home-page-DARK-MODE .rectangle-20 {
  height: 299px;
  left: 508px;
  position: absolute;
  top: 2396px;
  width: 303px;
}

.home-page-DARK-MODE .pencil-ruler-2 {
  height: 55px;
  left: 1009px;
  object-fit: cover;
  position: absolute;
  top: 64px;
  width: 55px;
}

.home-page-DARK-MODE .image-12 {
  height: 57px;
  left: 1266px;
  object-fit: cover;
  position: absolute;
  top: 63px;
  width: 57px;
}
.home-page-DARK-MODE .image-33 {
  height: 57px;
  left: 1510px;
  object-fit: cover;
  position: absolute;
  top: 63px;
  width: 57px;
}

.home-page-DARK-MODE .overlap-11 {
  height: 1629px;
  left: 224px;
  position: absolute;
  top: 2857px;
  width: 1635px;
}

.home-page-DARK-MODE .group-24 {
  height: 1596px;
  left: 0;
  position: absolute;
  top: 33px;
  width: 1596px;
}

.home-page-DARK-MODE .overlap-12 {
  height: 1027px;
  left: 0;
  position: absolute;
  top: 150px;
  width: 1442px;
}

.home-page-DARK-MODE .overlap-13 {
  height: 644px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1442px;
}

.home-page-DARK-MODE .ellipse-15 {
  background: linear-gradient(180deg, rgb(11, 116, 137) 0%, rgb(16, 157, 164) 100%);
  border-radius: 152px;
  filter: blur(252px);
  height: 304px;
  left: 0;
  position: absolute;
  top: 340px;
  width: 304px;
}

.home-page-DARK-MODE .frame-16 {
  background: linear-gradient(180deg, rgb(11, 116, 137) 0%, rgb(16, 157, 164) 100%);
  border-radius: 40px;
  height: 359px;
  left: 302px;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 1140px;
}

.home-page-DARK-MODE .overlap-group-8 {
  height: 324px;
  left: 685px;
  position: absolute;
  top: -133px;
  width: 563px;
}

.home-page-DARK-MODE .frame-17 {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 11px;
  left: 0;
  position: absolute;
  top: 194px;
}

.home-page-DARK-MODE .text-wrapper-33 {
  color: #ffffff;
  font-family: "Nunito-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 28.6px;
  position: relative;
  width: 376px;
}

.home-page-DARK-MODE .ellipse-16 {
  background: linear-gradient(180deg, rgb(11, 116, 137) 0%, rgb(16, 157, 164) 100%);
  border-radius: 127.5px;
  height: 255px;
  left: 308px;
  opacity: 0.8;
  position: absolute;
  top: 0;
  width: 255px;
}

.home-page-DARK-MODE .overlap-14 {
  border-radius: 65px;
  height: 49px;
  left: 685px;
  position: absolute;
  top: 205px;
  width: 344px;
}

.home-page-DARK-MODE .text-wrapper-34 {
  color: #ffffff;
  font-family: "Nunito-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 16px;
  letter-spacing: 0;
  line-height: 28.6px;
  position: absolute;
  top: 9px;
  white-space: nowrap;
}

.home-page-DARK-MODE .rectangle-21 {
  border: 1px solid;
  border-color: #ffffff;
  border-radius: 65px;
  height: 49px;
  background-color: transparent;
  left: 0;
  position: absolute;
  top: 0;
  width: 344px;
}

.home-page-DARK-MODE .frame-18 {
  align-items: center;
  background-color: #ffffff;
  border-radius: 55px;
  display: inline-flex;
  color: rgb(16, 157, 164) ;
  gap: 16px;
  justify-content: center;
  left: 228px;
  padding: 10px 32px;
  position: absolute;
  top: 5px;
  border: 0px;
}

.home-page-DARK-MODE .text-wrapper-35 {
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
  background: linear-gradient(180deg, rgb(11, 116, 137) 0%, rgb(16, 157, 164) 100%);
  background-clip: text;
  color: transparent;
  font-family: "Nunito-Bold", Helvetica;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;

  width: fit-content;
}

.home-page-DARK-MODE .ellipse-17 {
  background-color: #ffffff;
  border-radius: 70.2px;
  filter: blur(146px);
  height: 140px;
  left: -34px;
  position: absolute;
  top: -47px;
  transform: rotate(-40.06deg);
  width: 140px;
}

.home-page-DARK-MODE .ellipse-18 {
  background: linear-gradient(180deg, rgb(11, 116, 137) 0%, rgb(16, 157, 164) 100%);
  border-radius: 54.5px;
  height: 109px;
  left: 560px;
  opacity: 0.8;
  position: absolute;
  top: 312px;
  width: 109px;
}

.home-page-DARK-MODE .group-25 {
  height: 503px;
  left: 473px;
  position: absolute;
  top: 524px;
  width: 800px;
}

.home-page-DARK-MODE .text-wrapper-36 {
  color: #ffffff;
  font-family: "Nunito-Black", Helvetica;
  font-size: 48px;
  font-weight: 900;
  left: 349px;
  letter-spacing: 0;
  line-height: 60.9px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.home-page-DARK-MODE .frame-wrapper {
  align-items: center;
  display: inline-flex;
  flex-direction: column;
  gap: 18px;
  left: 23px;
  position: absolute;
  top: 105px;
}

.home-page-DARK-MODE .frame-19 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 78px;
  position: relative;
}

.home-page-DARK-MODE .text-wrapper-37 {
  color: #ffffff;
  font-family: "Nunito-SemiBold", Helvetica;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 28.6px;
  margin-top: -1px;
  position: relative;
  width: 655px;
}

.home-page-DARK-MODE .group-26 {
  height: 3px;
  margin-right: -1.5px;
  position: relative;
  width: 21.5px;
}

.home-page-DARK-MODE .text-wrapper-38 {
  color: #ffffff;
  font-family: "Nunito-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 23px;
  letter-spacing: 0;
  line-height: 28.6px;
  position: absolute;
  top: 142px;
  width: 645px;
}

.home-page-DARK-MODE .vector {
  height: 1px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 218px;
  width: 796px;
}

.home-page-DARK-MODE .frame-20 {
  align-items: center;
  display: inline-flex;
  flex-direction: column;
  gap: 18px;
  left: 0;
  position: absolute;
  top: 243px;
}

.home-page-DARK-MODE .text-wrapper-39 {
  color: #ffffff;
  font-family: "Nunito-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 28.6px;
  margin-top: -1px;
  position: relative;
  width: 655px;
}

.home-page-DARK-MODE .group-27 {
  height: 21.5px;
  margin-right: -1.5px;
  position: relative;
  width: 21.5px;
}

.home-page-DARK-MODE .vector-2 {
  height: 1px;
  margin-bottom: -0.5px;
  object-fit: cover;
  position: relative;
  width: 796px;
}

.home-page-DARK-MODE .frame-21 {
  align-items: center;
  display: inline-flex;
  flex-direction: column;
  gap: 18px;
  left: 0;
  position: absolute;
  top: 314px;
}

.home-page-DARK-MODE .frame-22 {
  align-items: center;
  display: inline-flex;
  flex-direction: column;
  gap: 18px;
  left: 0;
  position: absolute;
  top: 385px;
}

.home-page-DARK-MODE .frame-23 {
  align-items: center;
  display: inline-flex;
  flex-direction: column;
  gap: 18px;
  left: 0;
  position: absolute;
  top: 456px;
}

.home-page-DARK-MODE .image-13 {
  height: 510px;
  left: -13086px;
  position: absolute;
  top: 492px;
  width: 655px;
}

.home-page-DARK-MODE .overlap-15 {
  background: linear-gradient(180deg, rgb(11, 116, 137) 0%, rgb(16, 157, 164) 100%);
  height: 312px;
  left: 152px;
  position: absolute;
  top: 1284px;
  width: 1440px;
}

.home-page-DARK-MODE .vector-3 {
  height: 1px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 242px;
  width: 1436px;
}

.home-page-DARK-MODE .image-14 {
  height: 54px;
  left: 693px;
  object-fit: cover;
  position: absolute;
  top: 28px;
  width: 54px;
}

.home-page-DARK-MODE .text-wrapper-40 {
  color: #ffffff;
  font-family: "Nunito-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 505px;
  letter-spacing: 0;
  line-height: 28.6px;
  position: absolute;
  text-align: center;
  top: 101px;
  width: 429px;
}

.home-page-DARK-MODE .text-wrapper-41 {
  color: #ffffff;
  font-family: "Nunito-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 654px;
  letter-spacing: 0;
  line-height: 28.6px;
  position: absolute;
  top: 262px;
  white-space: nowrap;
}

.home-page-DARK-MODE .frame-24 {
  align-items: center;
  display: inline-flex;
  gap: 42px;
  justify-content: center;
  left: 484px;
  padding: 10px;
  position: absolute;
  top: 178px;
}

.home-page-DARK-MODE .text-wrapper-42 {
  color: #ffffff;
  font-family: "Nunito-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 20.3px;
  margin-top: -1px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.home-page-DARK-MODE .ellipse-19 {
  background: linear-gradient(180deg, rgb(11, 116, 137) 0%, rgb(16, 157, 164) 100%);
  border-radius: 47px;
  height: 94px;
  left: 1541px;
  opacity: 0.8;
  position: absolute;
  top: 1050px;
  width: 94px;
}

.home-page-DARK-MODE .advertising-concept {
  height: 541px;
  left: 162px;
  position: absolute;
  top: 0;
  width: 1095px;
}

.home-page-DARK-MODE .ellipse-20 {
  height: 108px;
  left: 372px;
  position: absolute;
  top: 1147px;
  width: 58px;
}

.home-page-DARK-MODE .group-28 {
  height: 60px;
  left: 315px;
  position: absolute;
  top: 15px;
  width: 979px;
}

.home-page-DARK-MODE .text-wrapper-43 {
  color: #ffffff;
  font-family: "Nunito-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 97px;
  letter-spacing: 0;
  line-height: 20.3px;
  position: absolute;
  text-align: center;
  top: 20px;
  white-space: nowrap;
}

.home-page-DARK-MODE .text-wrapper-44 {
  color: #ffffff;
  font-family: "Nunito-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 209px;
  letter-spacing: 0;
  line-height: 20.3px;
  position: absolute;
  text-align: center;
  top: 20px;
  white-space: nowrap;
}

.home-page-DARK-MODE .frame-25 {
  align-items: flex-start;
  display: inline-flex;
  gap: 52px;
  left: 533px;
  position: absolute;
  top: 20px;
}

.home-page-DARK-MODE .group-29 {
  height: 27px;
  left: 0;
  position: absolute;
  top: 20px;
  width: 47px;
}

.home-page-DARK-MODE .text-wrapper-45 {
  color: #ffffff;
  font-family: "Nunito-Bold", Helvetica;
  font-size: 16px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: 20.3px;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
}

.home-page-DARK-MODE .rectangle-22 {
  background: linear-gradient(180deg, rgb(11, 116, 137) 0%, rgb(16, 157, 164) 100%);
  border-radius: 39px;
  box-shadow: 0px 0px 1px #ffffffa8;
  height: 3px;
  left: 8px;
  position: absolute;
  top: 24px;
  width: 28px;
}

.home-page-DARK-MODE .frame-26 {
  align-items: center;
  border: 1px solid;
  border-color: #ffffff;
  border-radius: 48px;
  display: inline-flex;
  gap: 10px;
  justify-content: center;
  left: 819px;
  padding: 12px 24px;
  position: absolute;
  top: 7px;
}

.home-page-DARK-MODE .text-wrapper-46 {
  color: #ffffff;
  font-family: "Nunito-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: fit-content;
}

.home-page-DARK-MODE .group-30 {
  height: 60px;
  left: 331px;
  position: absolute;
  top: 0;
  width: 154px;
}

.home-page-DARK-MODE .overlap-group-9 {
  height: 60px;
  position: relative;
  width: 148px;
}

.home-page-DARK-MODE .text-wrapper-47 {
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgb(11, 116, 137) 0%,
    rgb(9.63, 105, 115.6) 21.25%,
    rgb(16.63, 113.84, 120.91) 42.59%,
    rgb(16, 157, 164) 62.56%,
    rgb(107.49, 203.28, 208.04) 93.68%
  );
  background-clip: text;
  color: transparent;
  filter: blur(7.56px);
  font-family: "Nunito-ExtraBold", Helvetica;
  font-size: 43.8px;
  font-weight: 800;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  text-fill-color: transparent;
  top: 0;
}

.home-page-DARK-MODE .text-wrapper-48 {
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgb(11, 116, 137) 0%,
    rgb(9.63, 105, 115.6) 21.25%,
    rgb(16.63, 113.84, 120.91) 42.59%,
    rgb(16, 157, 164) 62.56%,
    rgb(107.49, 203.28, 208.04) 93.68%
  );
  background-clip: text;
  color: transparent;
  filter: blur(9.24px);
  font-family: "Nunito-ExtraBold", Helvetica;
  font-size: 43.8px;
  font-weight: 800;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  text-fill-color: transparent;
  top: 0;
}

.home-page-DARK-MODE .text-wrapper-49 {
  color: #00eaff;
  font-family: "Nunito-ExtraBold", Helvetica;
  font-size: 43.8px;
  font-weight: 800;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
}

.faq-section {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px 20px;
  text-align: center;
}

.faq-title {
  display: flex;
  justify-content: start;
  align-items: start;
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-left: 10px;
  color: white; 
}

.faq-list {
  text-align: start;
}

.faq-item {
  border-bottom: 1px solid #eaeaea;
  padding: 10px;
}

.question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.question-text {
  font-size: 20px;
  color: white;
}

.toggle-button {
  width: 30px;
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 20px;
  color: #557292; 
}
.toggle-button:hover {
  background-color: white;
  color: #775151;
}
.faq-heading {
  display: flex;
  justify-content: center;
  align-items: center;
}
.answer {
  max-height: 150px;
  margin-top: 10px;
  color: #557292;
  overflow: hidden;
  transition: max-height 0.2s ease;
}
.answer p {
  color: white;
}
.faq-item.active .answer {
  max-height: 100px;
}
.text-wrapper-42 .nav-item{
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  width: 75%;
}
.text-wrapper-42  .nav-item-link{
  text-decoration: none;
  color: #ffffff;
}


.container {
  border: 1px solid #ccc;
  border-radius: 20px;
  display: flex;
  align-items: center;
  padding: 10px;
}

.container input[type="text"] {
  flex: 1;
  border: none;
  padding: 5px;
  background-color: transparent;
  color: white;
  border-radius: 10px;
}


.choose-row{
  display: flex;
} */