.contact-form {
  background-color: #131820;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.contact-form .div {
  background-color: #131820;
  height: 1431px;
  overflow: hidden;
  position: relative;
  width: 1440px;
}

.contact-form .overlap {
  height: 1348px;
  left: -230px;
  position: absolute;
  /* top: 83px; */
  width: 1988px;
}

.contact-form .rectangle {
  background: linear-gradient(
    180deg,
    rgba(45, 181, 193, 0.1) 21%,
    rgba(64.04, 221.16, 235.03, 0.1) 65.63%,
    rgba(0, 234.32, 255, 0.1) 89.29%
  );
  height: 1036px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1988px;
}

.contact-form .image {
  height: 1036px;
  left: 230px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 1440px;
}

.contact-form .group {
  height: 4px;
  left: 314px;
  position: absolute;
  top: 603px;
  width: 1272px;
}

.contact-form .ellipse {
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgb(11, 116, 137) 0%,
    rgb(9.63, 105, 115.6) 21.25%,
    rgb(16.63, 113.84, 120.91) 42.59%,
    rgb(16, 157, 164) 62.56%,
    rgb(107.49, 203.28, 208.04) 93.68%
  );
  border-radius: 78px;
  height: 156px;
  left: 152px;
  opacity: 0.8;
  position: absolute;
  top: 112px;
  width: 156px;
}

.contact-form .ellipse-2 {
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgb(11, 116, 137) 0%,
    rgb(9.63, 105, 115.6) 21.25%,
    rgb(16.63, 113.84, 120.91) 42.59%,
    rgb(16, 157, 164) 62.56%,
    rgb(107.49, 203.28, 208.04) 93.68%
  );
  border-radius: 42px;
  height: 84px;
  left: 866px;
  opacity: 0.8;
  position: absolute;
  top: 789px;
  width: 84px;
}

.contact-form .ellipse-3 {
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgb(11, 116, 137) 0%,
    rgb(9.63, 105, 115.6) 21.25%,
    rgb(16.63, 113.84, 120.91) 42.59%,
    rgb(16, 157, 164) 62.56%,
    rgb(107.49, 203.28, 208.04) 93.68%
  );
  border-radius: 60.5px;
  height: 121px;
  left: 187px;
  opacity: 0.8;
  position: absolute;
  top: 942px;
  width: 121px;
}

.contact-form .ellipse-4 {
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgb(11, 116, 137) 0%,
    rgb(9.63, 105, 115.6) 21.25%,
    rgb(16.63, 113.84, 120.91) 42.59%,
    rgb(16, 157, 164) 62.56%,
    rgb(107.49, 203.28, 208.04) 93.68%
  );
  border-radius: 67px;
  height: 134px;
  left: 1603px;
  opacity: 0.8;
  position: absolute;
  top: 549px;
  width: 134px;
}

.contact-form .text-wrapper {
  color: #ffffff;
  font-family: "Nunito-SemiBold", Helvetica;
  font-size: 29.9px;
  font-weight: 600;
  left: 511px;
  letter-spacing: 0;
  line-height: 37.9px;
  position: absolute;
  text-align: center;
  top: 222px;
  white-space: nowrap;
}

.contact-form .group-2 {
  -webkit-backdrop-filter: blur(162px) brightness(100%);
  backdrop-filter: blur(162px) brightness(100%);
  background-color: #ffffff26;
  border: 1px solid;
  border-color: #ffffff66;
  border-radius: 26px;
  height: 463px;
  left: 437px;
  position: absolute;
  top: 286px;
  width: 446px;
}

.contact-form .frame-199 {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 12px;
  left: 23px;
  position: absolute;
  top: 43px;
}

.contact-form .text-wrapper-2 {
  color: #ffffff;
  font-family: "Nunito-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 20.3px;
  margin-top: -1px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.contact-form .rectangle-2 {
  border: 1px solid;
  border-color: #ffffff;
  background-color: transparent;
  border-radius: 71px;
  height: 38px;
  color: white;
  text-align: center;
  position: relative;
  width: 398px;
}

.contact-form .frame-2 {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 12px;
  left: 23px;
  position: absolute;
  top: 152px;
}

.contact-form .frame-3 {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 12px;
  left: 23px;
  position: absolute;
  top: 261px;
}

.contact-form .div-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, rgb(11, 116, 137) 0%, rgb(16, 157, 164) 100%);
  border-radius: 55px;
  display: flex;
  gap: 16px;
  border: 0px;
  left: 23px;
  padding: 15px 30px;
  position: absolute;
  top: 381px;
  width: 400px;
}

.contact-form .text-wrapper-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-family: "Nunito-Bold", Helvetica;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: fit-content;
}

.contact-form .overlap-wrapper {
  height: 312px;
  left: 230px;
  position: absolute;
  top: 1036px;
  width: 1444px;
}

.contact-form .overlap-group {
  background: linear-gradient(180deg, rgb(11, 116, 137) 0%, rgb(16, 157, 164) 100%);
  height: 400px;
  position: relative;
  width: 1440px;
}

.contact-form .vector {
  height: 1px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 242px;
  width: 1440px;
}

.contact-form .img {
  height: 54px;
  left: 693px;
  object-fit: cover;
  position: absolute;
  top: 28px;
  width: 54px;
}

.contact-form .p {
  color: #ffffff;
  font-family: "Nunito-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 505px;
  letter-spacing: 0;
  line-height: 28.6px;
  position: absolute;
  text-align: center;
  top: 101px;
  width: 429px;
}

.contact-form .text-wrapper-4 {
  color: #ffffff;
  font-family: "Nunito-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 654px;
  letter-spacing: 0;
  line-height: 28.6px;
  position: absolute;
  top: 262px;
  white-space: nowrap;
}

.contact-form .frame-4 {
  align-items: center;
  display: inline-flex;
  gap: 42px;
  justify-content: center;
  left: 484px;
  padding: 10px;
  position: absolute;
  top: 178px;
}

.contact-form .overlap-2 {
  height: 2858px;
  left: -372px;
  position: absolute;
  top: 1895px;
  width: 2086px;
}

.contact-form .rectangle-3 {
  background: linear-gradient(
    180deg,
    rgba(45, 181, 193, 0.1) 21%,
    rgba(64.04, 221.16, 235.03, 0.1) 65.63%,
    rgba(0, 234.32, 255, 0.1) 89.29%
  );
  height: 641px;
  left: 0;
  position: absolute;
  top: 477px;
  width: 1988px;
}

.contact-form .rectangle-4 {
  background: linear-gradient(
    180deg,
    rgba(45, 181, 193, 0.1) 21%,
    rgba(64.04, 221.16, 235.03, 0.1) 65.63%,
    rgba(0, 234.32, 255, 0.1) 89.29%
  );
  height: 937px;
  left: 98px;
  position: absolute;
  top: 1883px;
  width: 1988px;
}

.contact-form .group-3 {
  -webkit-backdrop-filter: blur(60px) brightness(100%);
  backdrop-filter: blur(60px) brightness(100%);
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.08) 100%);
  border: 1px solid;
  border-color: #ffffff40;
  border-radius: 61px;
  height: 364px;
  left: 522px;
  position: absolute;
  top: 0;
  width: 1140px;
}

.contact-form .frame-5 {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 18px;
  left: 42px;
  position: absolute;
  top: 92px;
}

.contact-form .frame-6 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 2px;
  position: relative;
}

.contact-form .text-wrapper-5 {
  color: #ffffff;
  font-family: "Nunito-Black", Helvetica;
  font-size: 48px;
  font-weight: 900;
  letter-spacing: 0;
  line-height: 60.9px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.contact-form .text-wrapper-6 {
  color: #ffffff;
  font-family: "Nunito-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 24.7px;
  position: relative;
  width: 315px;
}

.contact-form .frame-7 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  position: relative;
}

.contact-form .text-wrapper-7 {
  color: #ffffff;
  font-family: "Nunito-Bold", Helvetica;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 24.7px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.contact-form .arrow {
  height: 1px;
  margin-left: -18322.26px;
  margin-top: -1640.04px;
  object-fit: cover;
  position: relative;
  width: 22px;
}

.contact-form .group-wrapper {
  -webkit-backdrop-filter: blur(37.66px) brightness(100%);
  backdrop-filter: blur(37.66px) brightness(100%);
  background: linear-gradient(180deg, rgb(11, 116, 137) 0%, rgb(16, 157, 164) 100%);
  border: 0.63px solid;
  border-color: #ffffff40;
  height: 327px;
  left: 399px;
  position: absolute;
  top: 0;
  width: 230px;
}

.contact-form .group-4 {
  height: 231px;
  left: 13px;
  position: relative;
  top: 47px;
  width: 203px;
}

.contact-form .group-5 {
  height: 231px;
  position: relative;
  width: 207px;
}

.contact-form .frame-8 {
  align-items: center;
  display: inline-flex;
  gap: 8px;
  left: 46px;
  position: absolute;
  top: 206px;
}

.contact-form .arrow-2 {
  height: 1px;
  margin-left: -18729.27px;
  margin-top: -1644.58px;
  object-fit: cover;
  position: relative;
  width: 22px;
}

.contact-form .rectangle-5 {
  background-color: #f5f1fd;
  border-radius: 11px;
  height: 86px;
  left: 59px;
  position: absolute;
  top: 0;
  width: 86px;
}

.contact-form .text-wrapper-8 {
  color: #ffffff;
  font-family: "Nunito-Bold", Helvetica;
  font-size: 24px;
  font-weight: 700;
  left: 11px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 108px;
}

.contact-form .text-wrapper-9 {
  color: #ffffff;
  font-family: "Nunito-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: 25.1px;
  position: absolute;
  text-align: center;
  top: 143px;
  width: 203px;
}

.contact-form .group-6 {
  height: 48px;
  left: -18132px;
  position: absolute;
  top: 511px;
  width: 48px;
}

.contact-form .group-7 {
  height: 231px;
  left: 669px;
  position: absolute;
  top: 52px;
  width: 207px;
}

.contact-form .arrow-3 {
  height: 1px;
  margin-left: -18986.87px;
  margin-top: -1650.04px;
  object-fit: cover;
  position: relative;
  width: 22px;
}

.contact-form .group-8 {
  height: 231px;
  left: 912px;
  position: absolute;
  top: 52px;
  width: 207px;
}

.contact-form .arrow-4 {
  height: 1px;
  margin-left: -19229.87px;
  margin-top: -1650.04px;
  object-fit: cover;
  position: relative;
  width: 22px;
}

.contact-form .ellipse-5 {
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgb(11, 116, 137) 0%,
    rgb(9.63, 105, 115.6) 21.25%,
    rgb(16.63, 113.84, 120.91) 42.59%,
    rgb(16, 157, 164) 62.56%,
    rgb(107.49, 203.28, 208.04) 93.68%
  );
  border-radius: 90.5px;
  height: 181px;
  left: 1535px;
  opacity: 0.8;
  position: absolute;
  top: 890px;
  width: 181px;
}

.contact-form .group-9 {
  height: 229px;
  left: 562px;
  position: absolute;
  top: 729px;
  width: 419px;
}

.contact-form .frame-9 {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 11px;
  left: 0;
  position: absolute;
  top: 0;
}

.contact-form .felis-ornare-posuere {
  color: #ffffff;
  font-family: "Nunito-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 28.6px;
  margin-top: -1px;
  position: relative;
  width: 419px;
}

.contact-form .frame-10 {
  align-items: center;
  display: inline-flex;
  gap: 10px;
  left: 0;
  position: absolute;
  top: 204px;
}

.contact-form .arrow-5 {
  height: 1px;
  margin-left: -18308.27px;
  margin-top: -2323.95px;
  object-fit: cover;
  position: relative;
  width: 22px;
}

.contact-form .text-wrapper-10 {
  color: #ffffff;
  font-family: "Nunito-Black", Helvetica;
  font-size: 48px;
  font-weight: 900;
  left: 562px;
  letter-spacing: 0;
  line-height: 60.9px;
  position: absolute;
  top: 636px;
  white-space: nowrap;
}

.contact-form .group-10 {
  height: 408px;
  left: 1062px;
  position: absolute;
  top: 614px;
  width: 592px;
}

.contact-form .image-2 {
  background: linear-gradient(180deg, rgb(11, 116, 137) 0%, rgb(16, 157, 164) 51.29%, rgb(51.18, 207.7, 215.48) 92.91%);
  border-radius: 40px;
  height: 367px;
  left: 0;
  position: absolute;
  top: 0;
  width: 551px;
}

.contact-form .image-3 {
  height: 367px;
  left: -18168px;
  object-fit: cover;
  position: absolute;
  top: 533px;
  width: 551px;
}

.contact-form .rectangle-6 {
  background: linear-gradient(
    180deg,
    rgb(45, 181, 193) 21%,
    rgb(64.04, 221.16, 235.03) 65.63%,
    rgb(0, 234.32, 255) 89.29%
  );
  border-radius: 293.93px;
  filter: blur(134.01px);
  height: 531px;
  left: 1511px;
  opacity: 0.1;
  position: absolute;
  top: 939px;
  width: 431px;
}

.contact-form .rectangle-7 {
  background: linear-gradient(
    180deg,
    rgb(45, 181, 193) 21%,
    rgb(64.04, 221.16, 235.03) 65.63%,
    rgb(0, 234.32, 255) 89.29%
  );
  border-radius: 293.93px;
  filter: blur(134.01px);
  height: 531px;
  left: 250px;
  opacity: 0.1;
  position: absolute;
  top: 222px;
  width: 431px;
}

.contact-form .ellipse-6 {
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgb(11, 116, 137) 0%,
    rgb(9.63, 105, 115.6) 21.25%,
    rgb(16.63, 113.84, 120.91) 42.59%,
    rgb(16, 157, 164) 62.56%,
    rgb(107.49, 203.28, 208.04) 93.68%
  );
  border-radius: 75px;
  height: 150px;
  left: 291px;
  position: absolute;
  top: 487px;
  width: 150px;
}

.contact-form .ellipse-7 {
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgb(11, 116, 137) 0%,
    rgb(9.63, 105, 115.6) 21.25%,
    rgb(16.63, 113.84, 120.91) 42.59%,
    rgb(16, 157, 164) 62.56%,
    rgb(107.49, 203.28, 208.04) 93.68%
  );
  border-radius: 38.55px;
  height: 77px;
  left: 1780px;
  position: absolute;
  top: 1092px;
  width: 77px;
}

.contact-form .ellipse-8 {
  background: linear-gradient(180deg, rgb(11, 116, 137) 0%, rgb(16, 157, 164) 100%);
  border-radius: 147px;
  filter: blur(252px);
  height: 294px;
  left: 1669px;
  position: absolute;
  top: 1654px;
  width: 294px;
}

.contact-form .ellipse-9 {
  background: linear-gradient(180deg, rgb(11, 116, 137) 0%, rgb(16, 157, 164) 100%);
  border-radius: 147px;
  filter: blur(252px);
  height: 294px;
  left: 189px;
  position: absolute;
  top: 2200px;
  width: 294px;
}

.contact-form .group-11 {
  height: 464px;
  left: 322px;
  position: absolute;
  top: 1301px;
  width: 1370px;
}

.contact-form .group-12 {
  height: 229px;
  left: 947px;
  position: absolute;
  top: 111px;
  width: 419px;
}

.contact-form .text-wrapper-11 {
  color: #ffffff;
  font-family: "Nunito-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 28.6px;
  position: relative;
  width: 419px;
}

.contact-form .arrow-6 {
  height: 1px;
  margin-left: -19015.5px;
  margin-top: -3006.5px;
  object-fit: cover;
  position: relative;
  width: 22px;
}

.contact-form .overlap-3 {
  height: 464px;
  left: 0;
  position: absolute;
  top: 0;
  width: 825px;
}

.contact-form .rectangle-8 {
  background: linear-gradient(180deg, rgb(11, 116, 137) 0%, rgb(16, 157, 164) 100%);
  border-radius: 40px;
  height: 302px;
  left: 0;
  position: absolute;
  top: 90px;
  width: 825px;
}

.contact-form .rectangle-9 {
  -webkit-backdrop-filter: blur(46px) brightness(100%);
  backdrop-filter: blur(46px) brightness(100%);
  background-color: #ffffff3b;
  border: 1px solid;
  border-color: transparent;
  border-image: linear-gradient(
      to bottom,
      rgb(255, 255, 255),
      rgba(255, 255, 255, 0) 25.22%,
      rgba(255, 255, 255, 0) 76.42%,
      rgb(255, 255, 255) 100%
    )
    1;
  border-radius: 10px;
  height: 220px;
  left: 267px;
  position: absolute;
  top: 0;
  width: 237px;
}

.contact-form .text-wrapper-12 {
  color: #ffffff;
  font-family: "Nunito-ExtraBold", Helvetica;
  font-size: 24px;
  font-weight: 800;
  left: 283px;
  letter-spacing: 0;
  line-height: 30.5px;
  position: absolute;
  top: 109px;
  width: 196px;
}

.contact-form .frame-11 {
  align-items: center;
  display: inline-flex;
  gap: 10px;
  left: 286px;
  position: absolute;
  top: 179px;
}

.contact-form .arrow-7 {
  height: 1px;
  margin-left: -18354.5px;
  margin-top: -2870.5px;
  object-fit: cover;
  position: relative;
  width: 22px;
}

.contact-form .overlap-group-wrapper {
  height: 220px;
  left: 267px;
  position: absolute;
  top: 244px;
  width: 239px;
}

.contact-form .overlap-group-2 {
  -webkit-backdrop-filter: blur(46px) brightness(100%);
  backdrop-filter: blur(46px) brightness(100%);
  background-color: #ffffff3b;
  border-radius: 10px;
  height: 220px;
  position: relative;
  width: 237px;
}

.contact-form .text-wrapper-13 {
  color: #ffffff;
  font-family: "Nunito-ExtraBold", Helvetica;
  font-size: 24px;
  font-weight: 800;
  left: 16px;
  letter-spacing: 0;
  line-height: 30.5px;
  position: absolute;
  top: 109px;
  width: 205px;
}

.contact-form .frame-12 {
  align-items: center;
  display: inline-flex;
  gap: 10px;
  left: 19px;
  position: absolute;
  top: 179px;
}

.contact-form .arrow-8 {
  height: 1px;
  margin-left: -18354.5px;
  margin-top: -3114.5px;
  object-fit: cover;
  position: relative;
  width: 22px;
}

.contact-form .group-13 {
  height: 220px;
  left: 528px;
  position: absolute;
  top: 0;
  width: 241px;
}

.contact-form .overlap-group-3 {
  height: 60px;
  left: 16px;
  position: absolute;
  top: 109px;
  width: 196px;
}

.contact-form .text-wrapper-14 {
  color: #ffffff;
  font-family: "Nunito-ExtraBold", Helvetica;
  font-size: 24px;
  font-weight: 800;
  left: 0;
  letter-spacing: 0;
  line-height: 30.5px;
  position: absolute;
  top: 0;
  width: 196px;
}

.contact-form .arrow-9 {
  height: 1px;
  margin-left: -18615.5px;
  margin-top: -2870.5px;
  object-fit: cover;
  position: relative;
  width: 22px;
}

.contact-form .text-wrapper-15 {
  color: #ffffff;
  font-family: "Nunito-ExtraBold", Helvetica;
  font-size: 24px;
  font-weight: 800;
  left: 544px;
  letter-spacing: 0;
  line-height: 30.5px;
  position: absolute;
  top: 109px;
  width: 196px;
}

.contact-form .group-14 {
  height: 220px;
  left: 528px;
  position: absolute;
  top: 244px;
  width: 239px;
}

.contact-form .text-wrapper-16 {
  color: #ffffff;
  font-family: "Nunito-ExtraBold", Helvetica;
  font-size: 24px;
  font-weight: 800;
  left: 16px;
  letter-spacing: 0;
  line-height: 30.5px;
  position: absolute;
  top: 109px;
  width: 196px;
}

.contact-form .arrow-10 {
  height: 1px;
  margin-left: -18615.5px;
  margin-top: -3114.5px;
  object-fit: cover;
  position: relative;
  width: 22px;
}

.contact-form .pencil-ruler {
  height: 74px;
  left: -17924px;
  object-fit: cover;
  position: absolute;
  top: 508px;
  width: 74px;
}

.contact-form .image-4 {
  height: 74px;
  left: -17666px;
  object-fit: cover;
  position: absolute;
  top: 508px;
  width: 74px;
}

.contact-form .image-5 {
  height: 74px;
  left: -17926px;
  position: absolute;
  top: 752px;
  width: 66px;
}

.contact-form .image-6 {
  height: 74px;
  left: -17670px;
  object-fit: cover;
  position: absolute;
  top: 752px;
  width: 74px;
}

.contact-form .frame-13 {
  align-items: center;
  border: 1px solid;
  border-color: #ffffff;
  border-radius: 25px;
  display: inline-flex;
  gap: 10px;
  justify-content: center;
  left: 1015px;
  padding: 10px 30px;
  position: absolute;
  top: 2717px;
}

.contact-form .arrow-11 {
  height: 1px;
  margin-left: -18772.5px;
  margin-top: -4107.5px;
  object-fit: cover;
  position: relative;
  width: 22px;
}

.contact-form .text-wrapper-17 {
  color: #ffffff;
  font-family: "Nunito-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 822px;
  letter-spacing: 0;
  line-height: 28.6px;
  position: absolute;
  text-align: center;
  top: 2019px;
  width: 547px;
}

.contact-form .text-wrapper-18 {
  color: #ffffff;
  font-family: "Nunito-Black", Helvetica;
  font-size: 48px;
  font-weight: 900;
  left: 877px;
  letter-spacing: 0;
  line-height: 60.9px;
  position: absolute;
  top: 1940px;
  white-space: nowrap;
}

.contact-form .ellipse-10 {
  background: linear-gradient(180deg, rgb(11, 116, 137) 0%, rgb(16, 157, 164) 100%);
  border-radius: 59px;
  height: 118px;
  left: 1757px;
  opacity: 0.8;
  position: absolute;
  top: 2740px;
  width: 118px;
}

.contact-form .group-15 {
  height: 290px;
  left: -18210px;
  position: absolute;
  top: 2963px;
  width: 512px;
}

.contact-form .group-16 {
  height: 290px;
  left: -16590px;
  position: absolute;
  top: 3397px;
  width: 512px;
}

.contact-form .overlap-4 {
  height: 1596px;
  left: -148px;
  position: absolute;
  top: 4785px;
  width: 1635px;
}

.contact-form .group-17 {
  height: 1596px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1596px;
}

.contact-form .overlap-5 {
  height: 1027px;
  left: 0;
  position: absolute;
  top: 150px;
  width: 1442px;
}

.contact-form .overlap-6 {
  height: 644px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1442px;
}

.contact-form .ellipse-11 {
  background: linear-gradient(180deg, rgb(11, 116, 137) 0%, rgb(16, 157, 164) 100%);
  border-radius: 152px;
  filter: blur(252px);
  height: 304px;
  left: 0;
  position: absolute;
  top: 340px;
  width: 304px;
}

.contact-form .frame-14 {
  background: linear-gradient(180deg, rgb(11, 116, 137) 0%, rgb(16, 157, 164) 100%);
  border-radius: 40px;
  height: 359px;
  left: 302px;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 1140px;
}

.contact-form .image-7 {
  height: 714px;
  left: -18480px;
  position: absolute;
  top: -4619px;
  width: 763px;
}

.contact-form .overlap-7 {
  height: 324px;
  left: 685px;
  position: absolute;
  top: -133px;
  width: 563px;
}

.contact-form .frame-15 {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 11px;
  left: 0;
  position: absolute;
  top: 194px;
}

.contact-form .text-wrapper-19 {
  color: #ffffff;
  font-family: "Nunito-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 28.6px;
  position: relative;
  width: 376px;
}

.contact-form .ellipse-12 {
  background: linear-gradient(180deg, rgb(11, 116, 137) 0%, rgb(16, 157, 164) 100%);
  border-radius: 127.5px;
  height: 255px;
  left: 308px;
  opacity: 0.8;
  position: absolute;
  top: 0;
  width: 255px;
}

.contact-form .overlap-group-4 {
  border-radius: 65px;
  height: 49px;
  left: 685px;
  position: absolute;
  top: 205px;
  width: 344px;
}

.contact-form .text-wrapper-20 {
  color: #ffffff;
  font-family: "Nunito-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 16px;
  letter-spacing: 0;
  line-height: 28.6px;
  position: absolute;
  top: 9px;
  white-space: nowrap;
}

.contact-form .rectangle-10 {
  border: 1px solid;
  border-color: #ffffff;
  border-radius: 65px;
  height: 49px;
  left: 0;
  position: absolute;
  top: 0;
  width: 344px;
}

.contact-form .frame-16 {
  align-items: center;
  background-color: #ffffff;
  border-radius: 55px;
  display: inline-flex;
  gap: 16px;
  justify-content: center;
  left: 238px;
  padding: 10px 32px;
  position: absolute;
  top: 4px;
}

.contact-form .text-wrapper-21 {
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
  background: linear-gradient(180deg, rgb(11, 116, 137) 0%, rgb(16, 157, 164) 100%);
  background-clip: text;
  color: transparent;
  font-family: "Nunito-Bold", Helvetica;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  text-fill-color: transparent;
  width: fit-content;
}

.contact-form .ellipse-13 {
  background-color: #ffffff;
  border-radius: 70.2px;
  filter: blur(146px);
  height: 140px;
  left: -34px;
  position: absolute;
  top: -47px;
  transform: rotate(-40.06deg);
  width: 140px;
}

.contact-form .ellipse-14 {
  background: linear-gradient(180deg, rgb(11, 116, 137) 0%, rgb(16, 157, 164) 100%);
  border-radius: 54.5px;
  height: 109px;
  left: 560px;
  opacity: 0.8;
  position: absolute;
  top: 312px;
  width: 109px;
}

.contact-form .group-18 {
  height: 503px;
  left: 473px;
  position: absolute;
  top: 524px;
  width: 800px;
}

.contact-form .text-wrapper-22 {
  color: #ffffff;
  font-family: "Nunito-Black", Helvetica;
  font-size: 48px;
  font-weight: 900;
  left: 349px;
  letter-spacing: 0;
  line-height: 60.9px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.contact-form .frame-wrapper {
  align-items: center;
  display: inline-flex;
  flex-direction: column;
  gap: 18px;
  left: 23px;
  position: absolute;
  top: 105px;
}

.contact-form .frame-17 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 78px;
  position: relative;
}

.contact-form .text-wrapper-23 {
  color: #ffffff;
  font-family: "Nunito-SemiBold", Helvetica;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 28.6px;
  margin-top: -1px;
  position: relative;
  width: 655px;
}

.contact-form .group-19 {
  height: 1px;
  margin-left: -17824.5px;
  margin-top: -5057.5px;
  position: relative;
  width: 18.5px;
}

.contact-form .text-wrapper-24 {
  color: #ffffff;
  font-family: "Nunito-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 23px;
  letter-spacing: 0;
  line-height: 28.6px;
  position: absolute;
  top: 142px;
  width: 645px;
}

.contact-form .vector-2 {
  height: 1px;
  left: -18210px;
  object-fit: cover;
  position: absolute;
  top: 711px;
  width: 796px;
}

.contact-form .frame-18 {
  align-items: center;
  display: inline-flex;
  flex-direction: column;
  gap: 18px;
  left: 0;
  position: absolute;
  top: 243px;
}

.contact-form .text-wrapper-25 {
  color: #ffffff;
  font-family: "Nunito-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 28.6px;
  margin-top: -1px;
  position: relative;
  width: 655px;
}

.contact-form .group-20 {
  height: 18.5px;
  margin-left: -17823.75px;
  margin-top: -5204.75px;
  position: relative;
  width: 18.5px;
}

.contact-form .vector-3 {
  height: 1px;
  margin-left: -18534.5px;
  margin-top: -5163px;
  object-fit: cover;
  position: relative;
  width: 796px;
}

.contact-form .frame-19 {
  align-items: center;
  display: inline-flex;
  flex-direction: column;
  gap: 18px;
  left: 0;
  position: absolute;
  top: 314px;
}

.contact-form .group-21 {
  height: 18.5px;
  margin-left: -17823.75px;
  margin-top: -5275.75px;
  position: relative;
  width: 18.5px;
}

.contact-form .vector-4 {
  height: 1px;
  margin-left: -18534.5px;
  margin-top: -5234px;
  object-fit: cover;
  position: relative;
  width: 796px;
}

.contact-form .frame-20 {
  align-items: center;
  display: inline-flex;
  flex-direction: column;
  gap: 18px;
  left: 0;
  position: absolute;
  top: 385px;
}

.contact-form .group-22 {
  height: 18.5px;
  margin-left: -17823.75px;
  margin-top: -5346.75px;
  position: relative;
  width: 18.5px;
}

.contact-form .vector-5 {
  height: 1px;
  margin-left: -18534.5px;
  margin-top: -5305px;
  object-fit: cover;
  position: relative;
  width: 796px;
}

.contact-form .frame-21 {
  align-items: center;
  display: inline-flex;
  flex-direction: column;
  gap: 18px;
  left: 0;
  position: absolute;
  top: 456px;
}

.contact-form .group-23 {
  height: 18.5px;
  margin-left: -17823.75px;
  margin-top: -5417.75px;
  position: relative;
  width: 18.5px;
}

.contact-form .vector-6 {
  height: 1px;
  margin-left: -18534.5px;
  margin-top: -5376px;
  object-fit: cover;
  position: relative;
  width: 796px;
}

.contact-form .image-8 {
  height: 510px;
  left: -17908px;
  position: absolute;
  top: 492px;
  width: 655px;
}

.contact-form .overlap-8 {
  background: linear-gradient(180deg, rgb(11, 116, 137) 0%, rgb(16, 157, 164) 100%);
  height: 312px;
  left: 152px;
  position: absolute;
  top: 1284px;
  width: 1440px;
}

.contact-form .vector-7 {
  height: 1px;
  left: -18058px;
  object-fit: cover;
  position: absolute;
  top: 2019px;
  width: 1440px;
}

.contact-form .image-9 {
  height: 54px;
  left: -17364px;
  object-fit: cover;
  position: absolute;
  top: 1804px;
  width: 54px;
}

.contact-form .ellipse-15 {
  background: linear-gradient(180deg, rgb(11, 116, 137) 0%, rgb(16, 157, 164) 100%);
  border-radius: 47px;
  height: 94px;
  left: 1541px;
  opacity: 0.8;
  position: absolute;
  top: 1017px;
  width: 94px;
}

.contact-form .ellipse-16 {
  height: 108px;
  left: -18260px;
  position: absolute;
  top: 3534px;
  width: 108px;
}

.contact-form .rectangle-11 {
  height: 263px;
  left: -18056px;
  position: absolute;
  top: 4509px;
  width: 364px;
}

.contact-form .rectangle-12 {
  height: 263px;
  left: -17286px;
  position: absolute;
  top: 4801px;
  width: 364px;
}

.contact-form .rectangle-13 {
  height: 263px;
  left: -17376px;
  position: absolute;
  top: 4509px;
  width: 455px;
}

.contact-form .rectangle-14 {
  height: 263px;
  left: -17764px;
  position: absolute;
  top: 4801px;
  width: 455px;
}

.contact-form .rectangle-15 {
  height: 263px;
  left: -17668px;
  position: absolute;
  top: 4509px;
  width: 267px;
}

.contact-form .rectangle-16 {
  height: 263px;
  left: -18056px;
  position: absolute;
  top: 4801px;
  width: 267px;
}
.text-wrapper-2 .nav-item{
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  width: 75%;
}
.text-wrapper-2  .nav-item-link{
  text-decoration: none;
  color: #ffffff;
}