
 
  /* .group-40 .nav-item .nav-item-link{
    text-decoration: none;
    color: #ffffff;
  }
  .logo-name{
    color: #00eaff;
    font-weight: 800;
    font-size: 22px;
    box-shadow: 0px 0px 50px rgb(0, 255, 255);

  } */
   /* .text-wrapper-46 {
    color: #ffffff;
    font-family: "Nunito-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    width: fit-content;
  }
  .frame {
    align-items: center;
    border: 1px solid;
    border-color: #ffffff;
    border-radius: 48px;
    display: inline-flex;
    gap: 10px;
    justify-content: center;
    padding: 12px 24px;
    position: relative;
  }
  
  .frame .text-wrapper {
    color: #ffffff;
    font-family: "Nunito-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    width: fit-content;
  } */
  /* Navbar.css */
  .group-40 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
  }
 
  .group-40 .nav-item{
    color: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    width: 100%;
  }
  .frame {
    align-items: center;
    border: 1px solid;
    border-color: #ffffff;
    border-radius: 48px;
    display: inline-flex;
    gap: 10px;
    justify-content: center;
    padding: 12px 24px;
    position: relative;
  }
  .main-Navbar{
    color: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    width: 100%;
  }
  .frame .text-wrapper {
    color: #ffffff;
    font-family: "Nunito-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    width: fit-content;
  }
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 20px;
  /* position: relative; */
 width: 70%;
  /* z-index: 100; */
}

.navbar ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}
.navbar li :hover{
  border-bottom: 3px solid #0B7489;
}

.navbar li {
  margin-right: 20px;
}

.navbar a {
  text-decoration: none;
  color: white;
}

.navbar-button {
  background-color: #fca311;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

/* Responsive styles for small screens */
@media screen and (max-width: 768px) {

  .navbar-menu {
    display: none;
    width: 100%;
    flex-direction: column;
    /* position: absolute; */
    /* top: 60px;
    left: 0;
    right: 0; */
    /* background-color: #333; */
    /* z-index: 99; */
    /* padding: 10px; */
  }

  .navbar-menu.open {
    display: flex;
  }

  .navbar-toggle {
    display: flex;
    flex-direction: column;
    /* width: 40px; */
    cursor: pointer;
  }

  .bar {
    width: 40px;
    height: 3px;
    background-color: white;
    margin: 4px 0;
    transition: 0.4s;
  }

  .bar.open {
    display: flex;
    /* transform: rotate(-45deg) translate(-5px, 6px); */
  }
  .group-40  .main-Navbar{
    display: none;
      }
}
